<a href="https://colab.research.google.com/github/CelinaWalkowicz/Coding_Challenges/blob/main/Code_Signal_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Arcade Universe

## The Journey Begins

In [5]:
def sum2(num1, num2):
  'Returns the Sum of Two Numbers'

  return num1 + num2

In [6]:
sum2(2, 3)

5

In [7]:
def calc_century(year):
    '''
    This function takes a year, and returns the century it is in.
    '''
    
    # Ensure year is int
    int(year)
    # Change year to string for indexing
    yr = str(year)

    # Index yr into parts to determine cdef solution(year):
    '''
    This function takes a year, and returns the century it is in.
    '''
    
    # Ensure year is int
    int(year)
    # Change year to string for indexing
    yr = str(year)

    # Ensure all years are YYYY format
    # Find first century years
    if year <= 1000:
      # years less than 100 will need a 00
      if year < 100:
        yr_pt1 = '00'
        yr_pt2 = str(year)
        yr = yr_pt1 + yr_pt2
      else:
        yr_pt1 = '0'
        yr_pt2 = str(year)
        yr = yr_pt1 + yr_pt2
    
    # Save first 2 numbs to determine century
    yr_idx1 = int(yr[:2])
    # Save last 2 nums to check year range to check years are in century range
    yr_idx2 = int(yr[2:4])
    
    # Check century range xx01-xx99
    if yr_idx2 >= 1:
        # Add 1 to find the century
        century = yr_idx1 + 1
    # Check century range xx00
    elif yr_idx2 == 0:
        century = yr_idx1
      
    return century

In [9]:
print(f'''
The year 42 is in century {calc_century(42)}.
The year 100 is in century {calc_century(100)}.
The year 1000 is in century {calc_century(1000)}.
The year 1500 is in century {calc_century(1500)}.
The year 1701 is in century {calc_century(1701)}.
The year 1994 is in century {calc_century(1994)}.
The year 2022 is in century {calc_century(2022)}.
''')

The year 42 is in century 1.
The year 100 is in century 1.
The year 1000 is in century 1.
The year 1500 is in century 15.
The year 1701 is in century 18.
The year 1994 is in century 20.
The year 2022 is in century 21.

In [11]:
def is_palindrome(inputString):
    '''
    Takes an input and checks if it is a palindrome
    '''
    
    # Ensure Input is String
    fwd_string = str(inputString).lower()

    # Reverse String
    retro_string = fwd_string[::-1]

    # Check if strings are equal
    if fwd_string == retro_string:
      return True
    else:
      return False

In [12]:
print(f'''
Tacocat is a palindrome: {is_palindrome('tacocat')}.
Tacocorgi is a palindrome: {is_palindrome('tacocorgi')}.
1111 is a palindrome: {is_palindrome(1111)}.
1701 is a palindrome: {is_palindrome(1701)}.
''')

Tacocat is a palindrome: True.
Tacocorgi is a palindrome: False.
1111 is a palindrome: True.
1701 is a palindrome: False.