<a href="https://colab.research.google.com/github/CelinaWalkowicz/Coding_Challenges/blob/main/Code_Signal_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Arcade Universe

## Sum of Two Numbers

In [ ]:
def sum2(num1, num2):
  'Returns the Sum of Two Numbers'

  return num1 + num2

In [ ]:
sum2(2, 3)

5

## Determine the Century for Each Year

A Century is defined as year 1 - 100
Examples: 
1st Century is from 1 - 100
17th Century is from 1701 - 1800
20th Century is from 1901 - 2000

In [ ]:
def calc_century(year):
    '''
    This function takes a year, and returns the century it is in.
    '''
    
    # Ensure year is int
    int(year)
    # Change year to string for indexing
    yr = str(year)

    # Index yr into parts to determine cdef solution(year):
    '''
    This function takes a year, and returns the century it is in.
    '''
    
    # Ensure year is int
    int(year)
    # Change year to string for indexing
    yr = str(year)

    # Ensure all years are YYYY format
    # Find first century years
    if year <= 1000:
      # years less than 100 will need a 00
      if year < 100:
        yr_pt1 = '00'
        yr_pt2 = str(year)
        yr = yr_pt1 + yr_pt2
      else:
        yr_pt1 = '0'
        yr_pt2 = str(year)
        yr = yr_pt1 + yr_pt2
    
    # Save first 2 numbs to determine century
    yr_idx1 = int(yr[:2])
    # Save last 2 nums to check year range to check years are in century range
    yr_idx2 = int(yr[2:4])
    
    # Check century range xx01-xx99
    if yr_idx2 >= 1:
        # Add 1 to find the century
        century = yr_idx1 + 1
    # Check century range xx00
    elif yr_idx2 == 0:
        century = yr_idx1
      
    return century

In [ ]:
print(f'''
The year 42 is in century {calc_century(42)}.
The year 100 is in century {calc_century(100)}.
The year 1000 is in century {calc_century(1000)}.
The year 1500 is in century {calc_century(1500)}.
The year 1701 is in century {calc_century(1701)}.
The year 1994 is in century {calc_century(1994)}.
The year 2022 is in century {calc_century(2022)}.
''')

The year 42 is in century 1.
The year 100 is in century 1.
The year 1000 is in century 1.
The year 1500 is in century 15.
The year 1701 is in century 18.
The year 1994 is in century 20.
The year 2022 is in century 21.

## Determine if a Given Input is a Palindrome

In [ ]:
def is_palindrome(given_input):
    '''
    Takes an input and checks if it is a palindrome
    '''
    
    # Ensure Input is String
    fwd_string = str(given_input).lower()

    # Reverse String
    retro_string = fwd_string[::-1]

    # Check if strings are equal
    if fwd_string == retro_string:
      return True
    else:
      return False

In [ ]:
print(f'''
Tacocat is a palindrome: {is_palindrome('tacocat')}.
Tacocorgi is a palindrome: {is_palindrome('tacocorgi')}.
1111 is a palindrome: {is_palindrome(1111)}.
1701 is a palindrome: {is_palindrome(1701)}.
''')

Tacocat is a palindrome: True.
Tacocorgi is a palindrome: False.
1111 is a palindrome: True.
1701 is a palindrome: False.

## Find the Largest Product of Adjacent Pairs in a List

In [ ]:
def adjacent_products(input_list):
    '''
    Finds the product of the the pair of adjacent elements within a list
    and returns the largest product
    '''
    
    # Create Product List
    product_list = []

    # Create Stop Number for List without last number
    stop_num = len(input_list) - 1
    
    # Loop through array, and multiply each number by the next number, 
    # and save the value to product list
    for idx in range(0, stop_num):
      # Find Index Values of Numbers to Multiply
      product_list.append(input_list[idx] * input_list[idx+1])

    # Sort List Descending to find largest value
    product_list.sort(reverse=True)
    
    return product_list[0]

In [ ]:
inputArray1 = [3, 6, -2, -5, 7, 3]
inputArray2 = [2, 1, 3, 1, 2, 5]

In [ ]:
print(f'''
-------------------------------------
Largest Products from Adjacent Values
-------------------------------------

inputArray1: {adjacent_products(inputArray1)}
inputArray2: {adjacent_products(inputArray2)}
''')

-------------------------------------
Largest Products from Adjacent Values
-------------------------------------

inputArray1: 21
inputArray2: 10

## Find the Area of A Polygon

In [1]:
def area(n):
    
    # Area for len(n) == 1 will always be 1
    if n == 1:
        return 1
    
    # Define lenth of the main row
    start_row = n + (n-1)
    
    # Area Counter
    area = 0 
    
    # Create Remaining Rows
    # They should be 2 smaller than the previous
    count = start_row
    
    for i in range(start_row - 1):
        if count > 2:
            count -= 2
            # a row will be added to each side of the main row
            area += (count * 2)
    
    area = area + start_row
                
    return  area

In [2]:
for i in range(5):
  print(area(i))

-1
1
5
13
25

## Find the Missing Values in a Sequential Array

Ratiorg got statues of different sizes as a present from CodeMaster for his birthday, each statue having an non-negative integer size. Since he likes to make things perfect, he wants to arrange them from smallest to largest so that each statue will be bigger than the previous one exactly by 1. He may need some additional statues to be able to accomplish that. Help him figure out the minimum number of additional statues needed.

In [ ]:
def missing_sequentials(inputArray):
    'Returns Number of Missing Sequential Values from an Array'
    
    # Sort Statues in Order Ascencing
    inputArray.sort()
    # Find Min and Max Values
    min_num = inputArray[0]
    max_num = inputArray[-1]
    
    # Create Range between Min and Max Values as List
    # Find Stop Number for inclusive Max Value
    stop_num = max_num + 1
    sequential_array = list(range(min_num, stop_num))
    
    # Find Lengths of Both Lists
    input_length = len(inputArray)
    complete_length = len(sequential_array)
    
    # Return Difference to Determine Number of Missing Statues
    return complete_length - input_length

In [ ]:
inputArray = [6, 2, 3, 8]

In [ ]:
missing_sequentials(inputArray)

3

## Determine if a Sequence will be Strictly Increasing if *ONLY* One Value is Removed.

In [ ]:
def solution(sequence):
    '''
    Returns if a list is strictly increasingly if one or less numbers 
    needs to be removed
    '''

    # Set Failure Count = 0 
    fc1 = 0
    fc2 = 0
    
    # Verify Each Value is NOT Greater than the Following 2 Values

    # Following 1
    for i in range(len(sequence)-1):
            if sequence[i] >= sequence[i+1]:
                fc1 = fc1 + 1

    # Following 2 
    for i in range(len(sequence)-2):
            if sequence[i] >= sequence[i+2]:
                fc2 = fc2 + 1

    # Verify Counts Do NOT Exceed 1 
    if (fc1 < 2) and (fc2 < 2):                
        return True
    else:
        return False

In [ ]:
sequence1 = [1, 2, 3, 4, 99, 5, 6]
sequence2 = [3, 5, 67, 98, 3]
sequence3 = [10, 1, 2, 3, 4, 5, 6, 1]
sequence4 = [1, 2, 1, 2]
sequence5 = [0, -2, 5, 6]

In [ ]:
print(f'''
-------------------------------------------------
Strictly Increasing Sequences with ONLY 1 removal
-------------------------------------------------

Sequence 1: {solution(sequence1)}
{sequence1}

Sequence 2: {solution(sequence2)}
{sequence2}

Sequence 3: {solution(sequence3)}
{sequence3}

Sequence 4: {solution(sequence4)}
{sequence4}

Sequence 5: {solution(sequence5)}
{sequence5}
''')

-------------------------------------------------
Strictly Increasing Sequences with ONLY 1 removal
-------------------------------------------------

Sequence 1: True
[1, 2, 3, 4, 99, 5, 6]

Sequence 2: True
[3, 5, 67, 98, 3]

Sequence 3: False
[10, 1, 2, 3, 4, 5, 6, 1]

Sequence 4: False
[1, 2, 1, 2]

Sequence 5: True
[0, -2, 5, 6]

## Find ALL Zero Values, and Values "Below" Zero Values in a Given Matrix

After becoming famous, the CodeBots decided to move into a new building together. Each of the rooms has a different cost, and some of them are free, but there's a rumour that all the free rooms are haunted! Since the CodeBots are quite superstitious, they refuse to stay in any of the free rooms, or any of the rooms below any of the free rooms.

In [15]:
def solution(matrix):
    
    cost = 0
    
    if len(matrix) == 0:
        return 0
    
    if len(matrix) == 1:
        return sum(matrix[0])
    
    haunted_idx = []
    
    for i in range(len(matrix)):
        # Add first row sum to cost; haunted rooms do not need to be checked
        if i == 0:
            cost += sum(matrix[0])
        # Add Index of any haunted rooms to haunted index list
            for idx in range(len(matrix[0])):
                if matrix[0][idx] == 0:
                    haunted_idx.append(idx)
        
        # Check All Other Rows
        if i >= 1:
            # Check rooms above each "room"; if any "haunted" add 0 to cost else add value at j
            for j in range(len(matrix[i])):
                # Add indeces with 0's to haunted index list
                if (matrix[i][j] == 0) and (j not in haunted_idx):
                    haunted_idx.append(j)
                # Add Safe Rooms cost
                if j not in haunted_idx:
                    cost += matrix[i][j]
                    
    return cost

In [16]:
matrix = [[0, 1, 1, 2], 
          [0, 5, 0, 0], 
          [2, 0, 3, 3]]

In [18]:
print(f'The Cost for All Suitable Rooms is ${solution(matrix)}.00')

The Cost for All Suitable Rooms is $9.00

#The Core

In [19]:
def solution(n):
    'Returns the Sum of the Digits in n'
    nums = [int(x) for x in str(n)]
    
    return sum(nums)

In [20]:
numbers = [3, 42, 1701]

for num in numbers:
  print(f'The sum of the digits in {num} is {solution(num)}')

The sum of the digits in 3 is 3
The sum of the digits in 42 is 6
The sum of the digits in 1701 is 9

In [21]:
def solution(n):
    'Return The largest Number at Length of N'
    
    return int('9'*n)

In [22]:
numbers = [3, 7, 42]

for num in numbers:
  print(f'The largest number of {num} digits is {solution(num)}')

The largest number of 3 digits is 999
The largest number of 7 digits is 9999999
The largest number of 42 digits is 999999999999999999999999999999999999999999

In [27]:
def solution(n, m):
    'Find the Maximum Value where part of M can be evenly distributed across N'
    
    # Floor Divide to find even distribution number
    # Multiple Number of N to find Max Value Needed
    
    return (m//n) * n

In [29]:
print(f'To distribute 1701 pieces of candies evenly across 42 individuals, {solution(42, 1701)} candies will be used')

To distribute 1701 pieces of candies evenly across 42 individuals, 1680 candies will be used

Your friend advised you to see a new performance in the most popular theater in the city. He knows a lot about art and his advice is usually good, but not this time: the performance turned out to be awfully dull. It's so bad you want to sneak out, which is quite simple, especially since the exit is located right behind your row to the left. All you need to do is climb over your seat and make your way to the exit.

The main problem is your shyness: you're afraid that you'll end up blocking the view (even if only for a couple of seconds) of all the people who sit behind you and in your column or the columns to your left. To gain some courage, you decide to calculate the number of such people and see if you can possibly make it to the exit without disturbing too many people.

In [32]:
def solution(nCols, nRows, col, row):
  'Determine the Number of Seats Pass'
    
  # Determine Number of Columns between Seat and Exit including seat column
  cols_to_pass = nCols - (col-1)
  # Determing Rows Behind Seat
  rows_behind = nRows - row

  # Return total number of seats to pass.
  return cols_to_pass*rows_behind

In [33]:
print(f'You will need to pass {solution(16, 11, 5, 3)} seats to exit a theater with 16 rows, and 11 columns, if you are in column 5, row 3.')

You will need to pass 96 seats to exit a theater with 16 rows, and 11 columns, if you are in column 5, row 3.

In [36]:
def solution(divisor, bound):
    'Find the Largest Number divisible by the divisor, but is not greater than the bound'
    
    largest = 0
    
    for i in range(1, (bound+1)):
        if (i % divisor == 0) and i > 0:
            largest = i
    
    return largest

In [39]:
divisor = [3, 7, 10]
bound = [42, 221, 1701]

for x in divisor:
  for y in bound:
    print(f'The largest number divisibile by {x} without being greater than {y} is {solution(x,y)}')

The largest number divisibile by 3 without being greater than 42 is 42
The largest number divisibile by 3 without being greater than 221 is 219
The largest number divisibile by 3 without being greater than 1701 is 1701
The largest number divisibile by 7 without being greater than 42 is 42
The largest number divisibile by 7 without being greater than 221 is 217
The largest number divisibile by 7 without being greater than 1701 is 1701
The largest number divisibile by 10 without being greater than 42 is 40
The largest number divisibile by 10 without being greater than 221 is 220
The largest number divisibile by 10 without being greater than 1701 is 1700

In [40]:
def solution(n, firstNumber):
    
    'Find the Radial Opposite NufirstNumberber on A circle to a given First NufirstNumberber'
    
    # Add or Subtract Radius to First Number
    if firstNumber >= (n/2):
        return firstNumber - (n/2)
    else:
        return firstNumber + (n/2)

In [42]:
print(f'The radial opposite of 3, in a circle with 42 points ranging from 0 to 41 is {solution(42, 3)}')

The radial opposite of 3, in a circle with 42 points ranging from 0 to 41 is 24.0

In [48]:
def solution(n):
    'Find the time for given n minutes which have passed since midnight'
    
    if n == 0:
        return 0
    
    if n < 60:
        minutes = str(n)
        minutes = [int(num) for num in minutes]
        return sum(minutes)
        
    if n % 60 == 0:
        hours = str(int(n/60))
        if len(hours) > 1:
            hours = [int(x) for x in hours] 
            return sum(hours)
        else:
            return int(hours)
        
    time = []
    
    # Find Hours and Minutes Passed
    elapsed = str(n/60)
    elapsed = elapsed.split('.')
    
    # Find Append Numbers to Time
    hours = elapsed[0]
    for x in hours:
        time.append(int(x))
        

    min_per_dec = 60/100
    minutes = f'.{elapsed[1]}'
    minutes = round((float(minutes) * min_per_dec * 100), 0)
    minutes = str(int(minutes))
    
    for y in minutes:
        time.append(int(y))
    
    return sum(time)

In [49]:
numbers = [0, 42, 60, 221, 1701]

In [50]:
for num in numbers:
  print(f'If {num} minutes have passed since midnight(00:00), the sum of the digits of the current time is {solution(num)}')

If 0 minutes have passed since midnight(00:00), the sum of the digits of the current time is 0
If 42 minutes have passed since midnight(00:00), the sum of the digits of the current time is 6
If 60 minutes have passed since midnight(00:00), the sum of the digits of the current time is 1
If 221 minutes have passed since midnight(00:00), the sum of the digits of the current time is 8
If 1701 minutes have passed since midnight(00:00), the sum of the digits of the current time is 13

In [54]:
def solution(min1, min2_10, min11, s):
    'Find the Max Duration of a Call with the Given Rates per Minute'
    
    # If less money is available than the first minute of a call costs, return 0
    if s < min1:
        return 0
    
    # If the money available is the exact cost of the first minute of a call, return 1
    if s == min1:
        return 1
        
    bank = s-min1
    minutes = 1
    
    while (minutes <= 10) and (bank >= min2_10):
        bank -= min2_10
        minutes +=1
    
    while (minutes >= 11) and (bank > min11):
        bank -= min11
        minutes += 1
    
    return minutes

In [61]:
min1 = 3
min2_10 = 2
min11 = 2
s = 20

print(f'''
--------------------------
--------------------------
 Cell Phone Minutes Rates
--------------------------
First Minutes: {min1}¢
Minutes 2 - 10: {min2_10}¢
Minutes 11+: {min11}¢
--------------------------
Account Balance: {s}¢
--------------------------
Longest Possible Call:
{solution(min1, min2_10, min11, s)} minutes
--------------------------
--------------------------
''')

--------------------------
--------------------------
 Cell Phone Minutes Rates
--------------------------
First Minutes: 3¢
Minutes 2 - 10: 2¢
Minutes 11+: 2¢
--------------------------
Account Balance: 20¢
--------------------------
Longest Possible Call:
9 minutes
--------------------------
--------------------------

In [62]:
def solution(experience, threshold, reward):
    'Determines if Threshold will be met with Next Kill'
    
    if (experience + reward) < threshold:
        return False
    else:
        return True

In [63]:
xp = [221, 1500]
thresh = 1701
mob_xp = [42, 221]

In [66]:
for x in xp:
  for p in mob_xp:
    print(f'''
-----------------------------------
Current Experience: {x}/{thresh}
-----------------------------------
Monster was slain for {y}!
-----------------------------------
''')
    if solution(x, thresh, p) == True:
      print('''      
Congratulations! You Leveled Up!
-----------------------------------
      ''')
    else:
      print(f'''
Current Experience: {(x+p)}/{thresh}
-----------------------------------
      ''')

-----------------------------------
Current Experience: 221/1701
-----------------------------------
Monster was slain for 1701!
-----------------------------------


Current Experience: 263/1701
-----------------------------------


-----------------------------------
Current Experience: 221/1701
-----------------------------------
Monster was slain for 1701!
-----------------------------------


Current Experience: 442/1701
-----------------------------------


-----------------------------------
Current Experience: 1500/1701
-----------------------------------
Monster was slain for 1701!
-----------------------------------


Current Experience: 1542/1701
-----------------------------------


-----------------------------------
Current Experience: 1500/1701
-----------------------------------
Monster was slain for 1701!
-----------------------------------


Congratulations! You Leveled Up!
-----------------------------------

In [71]:
def solution(value1, weight1, value2, weight2, maxW):
    'Determine Max Value which can be carried from two items'

    if (weight1 + weight2) <= maxW:
        return value1 + value2
    
    elif (weight1 <= maxW) and (weight2 <= maxW):
        return max(value1, value2)
    
    else:
        if weight1 <= maxW:
            return value1
        elif weight2 <= maxW:
            return value2
        else:
            return 0

In [78]:
def solution(a, b, c):
    'Find the Number which is not Equal'
    
    if a == b:
        return c
    elif a == c:
        return b
    else:
        return a

In [81]:
print(solution(42, 1701, 42), solution(221, 42, 42), solution(42, 42, 3.14))

1701 221 3.14

In [82]:
def solution(a, b):
    'Determine if an infinite loop is possible while a does not equal b, and a increasing by 1 and b is decreasing by 1'
    
    # If start numbers are equal, infinite loop is immediately False
    if a == b:
        return False
    
    # Find largest Value a which can be reached
    max_num = max(a, b)
    
    for i in range(max_num+1):
        a += 1
        b -= 1
         
        if a == b:
            return False
    
    return True

In [91]:
def solution(a, b, c):
    'Determine if an a solution of a [operator] b can equal c'
    
    if ((a + b == c) or 
        (a * b == c) or
        (a - b == c) or
        (a / b == c)):
        return True
    else:
        return False

In tennis, the winner of a set is based on how many games each player wins. The first player to win 6 games is declared the winner unless their opponent had already won 5 games, in which case the set continues until one of the players has won 7 games.

Given two integers score1 and score2, your task is to determine if it is possible for a tennis set to be finished with a final score of score1 : score2

In [92]:
def solution(score1, score2):
    
    # Scores > 7 not Possible
    if (score1 > 7) or (score2 > 7):
        return False
    
    # There are no ties
    if score1 == score2:
        return False
    
    # 7 Set Games requires, when one score is 5 when the other reaches 6
    if ((score1 >= 5) and (score2 > 6)) or ((score2 >= 5) and (score1 > 6)):
        return True
    
    if ((score1 < 5) and (score2 == 6)) or ((score2 < 5) and (score1 == 6)):
        return True
        
    else:
        return False

Once Mary heard a famous song, and a line from it stuck in her head. That line was "Will you still love me when I'm no longer young and beautiful?". Mary believes that a person is loved if and only if he/she is both young and beautiful, but this is quite a depressing thought, so she wants to put her belief to the test.

Knowing whether a person is young, beautiful and loved, find out if they contradict Mary's belief.

In [93]:
def solution(young, beautiful, loved):
    
    if ((young != True) or (beautiful != True)) and loved == True:
        return True
    
    elif ((young == True) and (beautiful == True)) and loved != True:
        return True
    
    else:
        return False

You just bought a public transit card that allows you to ride the Metro for a certain number of days.

Here is how it works: upon first receiving the card, the system allocates you a 31-day pass, which equals the number of days in January. The second time you pay for the card, your pass is extended by 28 days, i.e. the number of days in February (note that leap years are not considered), and so on. The 13th time you extend the pass, you get 31 days again.

You just ran out of days on the card, and unfortunately you've forgotten how many times your pass has been extended so far. However, you do remember the number of days you were able to ride the Metro during this most recent month. Figure out the number of days by which your pass will now be extended, and return all the options as an array sorted in increasing order.

In [94]:
def solution(lastNumberOfDays):
    
    if lastNumberOfDays == 31:
        return [28, 30, 31]
    else:
        return [31]