<a href="https://colab.research.google.com/github/CelinaWalkowicz/Coding_Challenges/blob/main/Code_Signal_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Arcade Universe

## Sum of Two Numbers

In [17]:
def sum2(num1, num2):
  'Returns the Sum of Two Numbers'

  return num1 + num2

In [2]:
sum2(2, 3)

5

## Determine the Century for Each Year

A Century is defined as year 1 - 100
Examples: 
1st Century is from 1 - 100
17th Century is from 1701 - 1800
20th Century is from 1901 - 2000

In [3]:
def calc_century(year):
    '''
    This function takes a year, and returns the century it is in.
    '''
    
    # Ensure year is int
    int(year)
    # Change year to string for indexing
    yr = str(year)

    # Index yr into parts to determine cdef solution(year):
    '''
    This function takes a year, and returns the century it is in.
    '''
    
    # Ensure year is int
    int(year)
    # Change year to string for indexing
    yr = str(year)

    # Ensure all years are YYYY format
    # Find first century years
    if year <= 1000:
      # years less than 100 will need a 00
      if year < 100:
        yr_pt1 = '00'
        yr_pt2 = str(year)
        yr = yr_pt1 + yr_pt2
      else:
        yr_pt1 = '0'
        yr_pt2 = str(year)
        yr = yr_pt1 + yr_pt2
    
    # Save first 2 numbs to determine century
    yr_idx1 = int(yr[:2])
    # Save last 2 nums to check year range to check years are in century range
    yr_idx2 = int(yr[2:4])
    
    # Check century range xx01-xx99
    if yr_idx2 >= 1:
        # Add 1 to find the century
        century = yr_idx1 + 1
    # Check century range xx00
    elif yr_idx2 == 0:
        century = yr_idx1
      
    return century

In [4]:
print(f'''
The year 42 is in century {calc_century(42)}.
The year 100 is in century {calc_century(100)}.
The year 1000 is in century {calc_century(1000)}.
The year 1500 is in century {calc_century(1500)}.
The year 1701 is in century {calc_century(1701)}.
The year 1994 is in century {calc_century(1994)}.
The year 2022 is in century {calc_century(2022)}.
''')

The year 42 is in century 1.
The year 100 is in century 1.
The year 1000 is in century 1.
The year 1500 is in century 15.
The year 1701 is in century 18.
The year 1994 is in century 20.
The year 2022 is in century 21.

## Determine if a Given Input is a Palindrome

In [18]:
def is_palindrome(given_input):
    '''
    Takes an input and checks if it is a palindrome
    '''
    
    # Ensure Input is String
    fwd_string = str(given_input).lower()

    # Reverse String
    retro_string = fwd_string[::-1]

    # Check if strings are equal
    if fwd_string == retro_string:
      return True
    else:
      return False

In [19]:
print(f'''
Tacocat is a palindrome: {is_palindrome('tacocat')}.
Tacocorgi is a palindrome: {is_palindrome('tacocorgi')}.
1111 is a palindrome: {is_palindrome(1111)}.
1701 is a palindrome: {is_palindrome(1701)}.
''')

Tacocat is a palindrome: True.
Tacocorgi is a palindrome: False.
1111 is a palindrome: True.
1701 is a palindrome: False.

## Find the Largest Product of Adjacent Pairs in a List

In [20]:
def adjacent_products(input_list):
    '''
    Finds the product of the the pair of adjacent elements within a list
    and returns the largest product
    '''
    
    # Create Product List
    product_list = []

    # Create Stop Number for List without last number
    stop_num = len(input_list) - 1
    
    # Loop through array, and multiply each number by the next number, 
    # and save the value to product list
    for idx in range(0, stop_num):
      # Find Index Values of Numbers to Multiply
      product_list.append(input_list[idx] * input_list[idx+1])

    # Sort List Descending to find largest value
    product_list.sort(reverse=True)
    
    return product_list[0]

In [8]:
inputArray1 = [3, 6, -2, -5, 7, 3]
inputArray2 = [2, 1, 3, 1, 2, 5]

In [9]:
print(f'''
-------------------------------------
Largest Products from Adjacent Values
-------------------------------------

inputArray1: {adjacent_products(inputArray1)}
inputArray2: {adjacent_products(inputArray2)}
''')

-------------------------------------
Largest Products from Adjacent Values
-------------------------------------

inputArray1: 21
inputArray2: 10

# Find the Missing Values in a Sequential Array

Ratiorg got statues of different sizes as a present from CodeMaster for his birthday, each statue having an non-negative integer size. Since he likes to make things perfect, he wants to arrange them from smallest to largest so that each statue will be bigger than the previous one exactly by 1. He may need some additional statues to be able to accomplish that. Help him figure out the minimum number of additional statues needed.

In [10]:
def missing_sequentials(inputArray):
    'Returns Number of Missing Sequential Values from an Array'
    
    # Sort Statues in Order Ascencing
    inputArray.sort()
    # Find Min and Max Values
    min_num = inputArray[0]
    max_num = inputArray[-1]
    
    # Create Range between Min and Max Values as List
    # Find Stop Number for inclusive Max Value
    stop_num = max_num + 1
    sequential_array = list(range(min_num, stop_num))
    
    # Find Lengths of Both Lists
    input_length = len(inputArray)
    complete_length = len(sequential_array)
    
    # Return Difference to Determine Number of Missing Statues
    return complete_length - input_length

In [11]:
inputArray = [6, 2, 3, 8]

In [12]:
missing_sequentials(inputArray)

3

# Determine if a Sequence will be Strictly Increasing if *ONLY* One Value is Removed.

In [14]:
def solution(sequence):
    '''
    Returns if a list is strictly increasingly if one or less numbers 
    needs to be removed
    '''

    # Set Failure Count = 0 
    fc1 = 0
    fc2 = 0
    
    # Verify Each Value is NOT Greater than the Following 2 Values

    # Following 1
    for i in range(len(sequence)-1):
            if sequence[i] >= sequence[i+1]:
                fc1 = fc1 + 1

    # Following 2 
    for i in range(len(sequence)-2):
            if sequence[i] >= sequence[i+2]:
                fc2 = fc2 + 1

    # Verify Counts Do NOT Exceed 1 
    if (fc1 < 2) and (fc2 < 2):                
        return True
    else:
        return False

In [15]:
sequence1 = [1, 2, 3, 4, 99, 5, 6]
sequence2 = [3, 5, 67, 98, 3]
sequence3 = [10, 1, 2, 3, 4, 5, 6, 1]
sequence4 = [1, 2, 1, 2]
sequence5 = [0, -2, 5, 6]

In [16]:
print(f'''
-------------------------------------------------
Strictly Increasing Sequences with ONLY 1 removal
-------------------------------------------------

Sequence 1: {solution(sequence1)}
{sequence1}

Sequence 2: {solution(sequence2)}
{sequence2}

Sequence 3: {solution(sequence3)}
{sequence3}

Sequence 4: {solution(sequence4)}
{sequence4}

Sequence 5: {solution(sequence5)}
{sequence5}
''')

-------------------------------------------------
Strictly Increasing Sequences with ONLY 1 removal
-------------------------------------------------

Sequence 1: True
[1, 2, 3, 4, 99, 5, 6]

Sequence 2: True
[3, 5, 67, 98, 3]

Sequence 3: False
[10, 1, 2, 3, 4, 5, 6, 1]

Sequence 4: False
[1, 2, 1, 2]

Sequence 5: True
[0, -2, 5, 6]