<a href="https://colab.research.google.com/github/CelinaWalkowicz/Coding_Challenges/blob/main/Code_Signal_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Arcade Universe

## Sum of Two Numbers

In [1]:
def sum2(num1, num2):
  'Returns the Sum of Two Numbers'

  return num1 + num2

In [2]:
sum2(2, 3)

5

## Determine the Century for Each Year

A Century is defined as year 1 - 100
Examples: 
1st Century is from 1 - 100
17th Century is from 1701 - 1800
20th Century is from 1901 - 2000

In [3]:
def calc_century(year):
    '''
    This function takes a year, and returns the century it is in.
    '''
    
    # Ensure year is int
    int(year)
    # Change year to string for indexing
    yr = str(year)

    # Index yr into parts to determine cdef solution(year):
    '''
    This function takes a year, and returns the century it is in.
    '''
    
    # Ensure year is int
    int(year)
    # Change year to string for indexing
    yr = str(year)

    # Ensure all years are YYYY format
    # Find first century years
    if year <= 1000:
      # years less than 100 will need a 00
      if year < 100:
        yr_pt1 = '00'
        yr_pt2 = str(year)
        yr = yr_pt1 + yr_pt2
      else:
        yr_pt1 = '0'
        yr_pt2 = str(year)
        yr = yr_pt1 + yr_pt2
    
    # Save first 2 numbs to determine century
    yr_idx1 = int(yr[:2])
    # Save last 2 nums to check year range to check years are in century range
    yr_idx2 = int(yr[2:4])
    
    # Check century range xx01-xx99
    if yr_idx2 >= 1:
        # Add 1 to find the century
        century = yr_idx1 + 1
    # Check century range xx00
    elif yr_idx2 == 0:
        century = yr_idx1
      
    return century

In [4]:
print(f'''
The year 42 is in century {calc_century(42)}.
The year 100 is in century {calc_century(100)}.
The year 1000 is in century {calc_century(1000)}.
The year 1500 is in century {calc_century(1500)}.
The year 1701 is in century {calc_century(1701)}.
The year 1994 is in century {calc_century(1994)}.
The year 2022 is in century {calc_century(2022)}.
''')

The year 42 is in century 1.
The year 100 is in century 1.
The year 1000 is in century 1.
The year 1500 is in century 15.
The year 1701 is in century 18.
The year 1994 is in century 20.
The year 2022 is in century 21.

## Determine if a Given Input is a Palindrome

In [5]:
def is_palindrome(given_input):
    '''
    Takes an input and checks if it is a palindrome
    '''
    
    # Ensure Input is String
    fwd_string = str(given_input).lower()

    # Reverse String
    retro_string = fwd_string[::-1]

    # Check if strings are equal
    if fwd_string == retro_string:
      return True
    else:
      return False

In [6]:
print(f'''
Tacocat is a palindrome: {is_palindrome('tacocat')}.
Tacocorgi is a palindrome: {is_palindrome('tacocorgi')}.
1111 is a palindrome: {is_palindrome(1111)}.
1701 is a palindrome: {is_palindrome(1701)}.
''')

Tacocat is a palindrome: True.
Tacocorgi is a palindrome: False.
1111 is a palindrome: True.
1701 is a palindrome: False.

## Find the Largest Product of Adjacent Pairs in a List

In [7]:
def adjacent_products(input_list):
    '''
    Finds the product of the the pair of adjacent elements within a list
    and returns the largest product
    '''
    
    # Create Product List
    product_list = []

    # Create Stop Number for List without last number
    stop_num = len(input_list) - 1
    
    # Loop through array, and multiply each number by the next number, 
    # and save the value to product list
    for idx in range(0, stop_num):
      # Find Index Values of Numbers to Multiply
      product_list.append(input_list[idx] * input_list[idx+1])

    # Sort List Descending to find largest value
    product_list.sort(reverse=True)
    
    return product_list[0]

In [8]:
inputArray1 = [3, 6, -2, -5, 7, 3]
inputArray2 = [2, 1, 3, 1, 2, 5]

In [9]:
print(f'''
-------------------------------------
Largest Products from Adjacent Values
-------------------------------------

inputArray1: {adjacent_products(inputArray1)}
inputArray2: {adjacent_products(inputArray2)}
''')

-------------------------------------
Largest Products from Adjacent Values
-------------------------------------

inputArray1: 21
inputArray2: 10

## Find the Missing Values in a Sequential Array

Ratiorg got statues of different sizes as a present from CodeMaster for his birthday, each statue having an non-negative integer size. Since he likes to make things perfect, he wants to arrange them from smallest to largest so that each statue will be bigger than the previous one exactly by 1. He may need some additional statues to be able to accomplish that. Help him figure out the minimum number of additional statues needed.

In [10]:
def missing_sequentials(inputArray):
    'Returns Number of Missing Sequential Values from an Array'
    
    # Sort Statues in Order Ascencing
    inputArray.sort()
    # Find Min and Max Values
    min_num = inputArray[0]
    max_num = inputArray[-1]
    
    # Create Range between Min and Max Values as List
    # Find Stop Number for inclusive Max Value
    stop_num = max_num + 1
    sequential_array = list(range(min_num, stop_num))
    
    # Find Lengths of Both Lists
    input_length = len(inputArray)
    complete_length = len(sequential_array)
    
    # Return Difference to Determine Number of Missing Statues
    return complete_length - input_length

In [11]:
inputArray = [6, 2, 3, 8]

In [12]:
missing_sequentials(inputArray)

3

## Determine if a Sequence will be Strictly Increasing if *ONLY* One Value is Removed.

In [13]:
def solution(sequence):
    '''
    Returns if a list is strictly increasingly if one or less numbers 
    needs to be removed
    '''

    # Set Failure Count = 0 
    fc1 = 0
    fc2 = 0
    
    # Verify Each Value is NOT Greater than the Following 2 Values

    # Following 1
    for i in range(len(sequence)-1):
            if sequence[i] >= sequence[i+1]:
                fc1 = fc1 + 1

    # Following 2 
    for i in range(len(sequence)-2):
            if sequence[i] >= sequence[i+2]:
                fc2 = fc2 + 1

    # Verify Counts Do NOT Exceed 1 
    if (fc1 < 2) and (fc2 < 2):                
        return True
    else:
        return False

In [14]:
sequence1 = [1, 2, 3, 4, 99, 5, 6]
sequence2 = [3, 5, 67, 98, 3]
sequence3 = [10, 1, 2, 3, 4, 5, 6, 1]
sequence4 = [1, 2, 1, 2]
sequence5 = [0, -2, 5, 6]

In [15]:
print(f'''
-------------------------------------------------
Strictly Increasing Sequences with ONLY 1 removal
-------------------------------------------------

Sequence 1: {solution(sequence1)}
{sequence1}

Sequence 2: {solution(sequence2)}
{sequence2}

Sequence 3: {solution(sequence3)}
{sequence3}

Sequence 4: {solution(sequence4)}
{sequence4}

Sequence 5: {solution(sequence5)}
{sequence5}
''')

-------------------------------------------------
Strictly Increasing Sequences with ONLY 1 removal
-------------------------------------------------

Sequence 1: True
[1, 2, 3, 4, 99, 5, 6]

Sequence 2: True
[3, 5, 67, 98, 3]

Sequence 3: False
[10, 1, 2, 3, 4, 5, 6, 1]

Sequence 4: False
[1, 2, 1, 2]

Sequence 5: True
[0, -2, 5, 6]

## Find ALL Zero Values, and Values "Below" Zero Values in a Given Matrix

After becoming famous, the CodeBots decided to move into a new building together. Each of the rooms has a different cost, and some of them are free, but there's a rumour that all the free rooms are haunted! Since the CodeBots are quite superstitious, they refuse to stay in any of the free rooms, or any of the rooms below any of the free rooms.

In [16]:
def solution(matrix):
  '''
  Returns the Count of All Values which do NOT Equal 0, and are NOT located
  "Below" a Zero Value.
  '''

  # Imports 
  import numpy as np

  # Set Haunted Rooms Equal to 0
  haunted = 0

  # Find Indices of Haunted Rooms
  return np.where(matrix==5)

In [17]:
matrix = [[0, 1, 1, 2], 
          [0, 5, 0, 0], 
          [2, 0, 3, 3]]

In [18]:
matrix

[[0, 1, 1, 2], [0, 5, 0, 0], [2, 0, 3, 3]]

In [19]:
solution(matrix)

(array([], dtype=int64),)

# BloomTech Code Signal

## Day 1

In [20]:
def sum2(arg1, arg2):
    'Returns the Sum of 2 Numbers'
    
    return arg1 + arg2

In [21]:
num1 = 3.14
num2 = 42

In [22]:
print(f'The sum of {num1} and {num2} is {sum2(num1, num2)}')

The sum of 3.14 and 42 is 45.14

In [23]:
def prod2(arg1, arg2):
    'Returns the Product of 2 Numbers'
    
    return arg1 * arg2

In [24]:
num1 = 3.14
num2 = 42

In [25]:
print(f'The product of {num1} and {num2} is {prod2(num1, num2)}')

The product of 3.14 and 42 is 131.88

In [26]:
def solution(n):
    'Returns the Solution to A Series of Operations'
    
    n = n + 7
    n = n / 2
    n = n * 5
    
    return n

In [27]:
num1 = 3.14
num2 = 42

In [28]:
print(f'''
The Solution for ({num1} + 7)/2*5 is: {solution(num1)}
The Solution for ({num2} + 7)/2*5 is: {solution(num2)}
''')

The Solution for (3.14 + 7)/2*5 is: 25.35
The Solution for (42 + 7)/2*5 is: 122.5

In [29]:
def sum_range1(n):
    '''
    Returns the Sum of all Values in an Inclusive Range 
    Between 1 and a Given Number
    '''
    
    # Stop Number for Range
    stop_num = n + 1
    
    # List of Numbers to Sum from Range
    nums_to_sum = []
    
    for num in range(1, stop_num):
        nums_to_sum.append(num)
    
    summed = sum(nums_to_sum)
    
    return summed

In [30]:
num = 42

In [31]:
print(f'The sum all of all numbers between 1 and {num}, inclusively is {sum_range1(num)}')

The sum all of all numbers between 1 and 42, inclusively is 903

In [32]:
def find_equal_past_yr(given_year, current_year):
    '''
    Returns the Year the same distance between the Current Year
    and a given year
    '''
    
    # Calculate Number of Years Between Given Year and Current
    # Year
    time_btwn = current_year - given_year
    past_year = given_year - time_btwn
    
    return past_year

In [33]:
given_yr = 1994
current_yr = 2022

In [34]:
print(f'''
The amount of time passed between {given_yr} and {current_yr} is the
same amount of time passed between {find_equal_past_yr(given_yr, current_yr)} and {given_yr}
''')

The amount of time passed between 1994 and 2022 is the
same amount of time passed between 1966 and 1994

In [35]:
def sum_range(n, m):
    '''
    Returns the Sum of all Values in an Inclusive Range 
    Between 2 Given Numbers
    '''
    
    # Stop Number for Range
    stop_num = m + 1
    
    # List of Numbers to Sum from Range
    nums_to_sum = []
    
    for num in range(n, stop_num):
        nums_to_sum.append(num)
    
    summed = sum(nums_to_sum)
    
    return summed

In [36]:
num1 = 42
num2 = 1701

In [37]:
print(f'The sum all of all numbers between {num1} and {num2}, inclusively is {sum_range(num1, num2)}')

The sum all of all numbers between 42 and 1701, inclusively is 1446690

## Day 2

### Convertind Class Types: Strings, Floats, and Ints

In [38]:
def str_to_int(s):
    'Returns a String as Int'
    
    return int(s)

In [39]:
string1 = '1'
string2 = '42'
string3 = '1701'

In [40]:
print(f'''
String1 - {string1}
Type: {type(string1)}
Converted Type: {type(str_to_int(string1))}

String2 - {string2}
Type: {type(string2)}
Converted Type: {type(str_to_int(string2))}

String3 - {string3}
Type: {type(string3)}
Converted Type: {type(str_to_int(string3))}
''')

String1 - 1
Type: <class 'str'>
Converted Type: <class 'int'>

String2 - 42
Type: <class 'str'>
Converted Type: <class 'int'>

String3 - 1701
Type: <class 'str'>
Converted Type: <class 'int'>

In [41]:
def float_to_str(f):
    'Takes a float, and returns a string'
    
    return str(f)

In [42]:
float1 = 1.34
float2 = 4.2
float3 = 17.01

In [43]:
print(f'''
Float1 - {float1}
Type: {type(float1)}
Converted Type: {type(float_to_str(float1))}

Float2 - {float2}
Type: {type(float2)}
Converted Type: {type(float_to_str(float2))}

Float3 - {float3}
Type: {type(float3)}
Converted Type: {type(float_to_str(float3))}
''')

Float1 - 1.34
Type: <class 'float'>
Converted Type: <class 'str'>

Float2 - 4.2
Type: <class 'float'>
Converted Type: <class 'str'>

Float3 - 17.01
Type: <class 'float'>
Converted Type: <class 'str'>

In [44]:
def int_to_float(i):
    'Takes an Int and Converts to Float'
    
    return float(i)

In [45]:
int1 = 1
int2 = 42
int3 = 1701

In [46]:
print(f'''
Int1 - {int1}
Type: {type(int1)}
Converted Type: {type(int_to_float(int1))}

Int2 - {int2}
Type: {type(int2)}
Converted Type: {type(int_to_float(int2))}

Int1 - {int2}
Type: {type(int2)}
Converted Type: {type(int_to_float(int2))}
''')

Int1 - 1
Type: <class 'int'>
Converted Type: <class 'float'>

Int2 - 42
Type: <class 'int'>
Converted Type: <class 'float'>

Int1 - 42
Type: <class 'int'>
Converted Type: <class 'float'>

In [47]:
def rounded_float_to_str(f, places):
    '''
    Takes a Float, Rounds, and Converts to String
    '''
    
    format_key = f'.{places}f'
    rounded = format(f, format_key)

    return rounded

In [48]:
float1 = 1.3400
float2 = 4.200
float3 = 17.01000

In [49]:
print(f'''
Float1 - {float1}
Type: {type(float1)}
Rounded: {rounded_float_to_str(float1, 3)}
Converted Type: {type(rounded_float_to_str(float1, 3))}

Float2 - {float2}
Type: {type(float2)}
Rounded: {rounded_float_to_str(float2, 2)}
Converted Type: {type(rounded_float_to_str(float2, 2))}

Float3 - {float3}
Type: {type(float3)}
Rounded: {rounded_float_to_str(float3, 4)}
Converted Type: {type(rounded_float_to_str(float3, 4))}
''')

Float1 - 1.34
Type: <class 'float'>
Rounded: 1.340
Converted Type: <class 'str'>

Float2 - 4.2
Type: <class 'float'>
Rounded: 4.20
Converted Type: <class 'str'>

Float3 - 17.01
Type: <class 'float'>
Rounded: 17.0100
Converted Type: <class 'str'>

In [50]:
def abs_val(x):
    'Returns the absolute value of a number'
    
    return abs(x)

In [51]:
num1 = -3.14
num2 = 42
num3 = 1701
num4 = -1701

In [52]:
print(f'''
Number1: {num1}
Absolute Value: {abs_val(num1)}
Number2: {num2}
Absolute Value: {abs_val(num2)}
Number3: {num3}
Absolute Value: {abs_val(num3)}
Number4: {num4}
Absolute Value: {abs_val(num4)}
''')

Number1: -3.14
Absolute Value: 3.14
Number2: 42
Absolute Value: 42
Number3: 1701
Absolute Value: 1701
Number4: -1701
Absolute Value: 1701

In [53]:
def is_btwn(n):
    'Determines if a Number is between 2 and 7, exclusive'
    
    if (n > 2) and (n < 7):
        return True
    else:
        return False

In [54]:
num1 = 3.14
num2 = 42
num3 = 1701

In [55]:
print(f'''
Number1: {num1}
Between 2 and 7? {is_btwn(num1)}
Number2: {num2}
Between 2 and 7? {is_btwn(num2)}
Number3: {num3}
Between 2 and 7? {is_btwn(num3)}
''')

Number1: 3.14
Between 2 and 7? True
Number2: 42
Between 2 and 7? False
Number3: 1701
Between 2 and 7? False

In [56]:
def int_to_str(i):
    'Returns an Integer as a String'
    
    return str(i)

In [57]:
int1 = 1
int2 = 42
int3 = 1701

In [58]:
print(f'''
Int1 - {int1}
Type: {type(int1)}
Converted Type: {type(int_to_str(int1))}

Int2 - {int2}
Type: {type(int2)}
Converted Type: {type(int_to_str(int2))}

Int3 - {int3}
Type: {type(int3)}
Converted Type: {type(int_to_str(int3))}
''')

Int1 - 1
Type: <class 'int'>
Converted Type: <class 'str'>

Int2 - 42
Type: <class 'int'>
Converted Type: <class 'str'>

Int3 - 1701
Type: <class 'int'>
Converted Type: <class 'str'>

In [59]:
def float_to_int(f):
    'Takes a Float and Returns an Int'
    
    return int(f)

In [60]:
float1 = 1.34
float2 = 4.2
float3 = 17.01

In [61]:
print(f'''
Float1 - {float1}
Type: {type(float1)}
Converted Type: {type(float_to_int(float1))}

Float2 - {float2}
Type: {type(float2)}
Converted Type: {type(float_to_int(float2))}

Float3 - {float3}
Type: {type(float3)}
Converted Type: {type(float_to_int(float3))}
''')

Float1 - 1.34
Type: <class 'float'>
Converted Type: <class 'int'>

Float2 - 4.2
Type: <class 'float'>
Converted Type: <class 'int'>

Float3 - 17.01
Type: <class 'float'>
Converted Type: <class 'int'>

In [62]:
def str_to_float(s):
    'Takes a String, and Returns a Float'
    
    return float(s)

In [63]:
string1 = '1.34'
string2 = '4.2'
string3 = '17.01'

In [64]:
print(f'''
String1 - {string1}
Type: {type(string1)}
Converted Type: {type(str_to_float(string1))}

String2 - {string2}
Type: {type(string2)}
Converted Type: {type(str_to_float(string2))}

String3 - {string3}
Type: {type(string3)}
Converted Type: {type(str_to_float(string3))}
''')

String1 - 1.34
Type: <class 'str'>
Converted Type: <class 'float'>

String2 - 4.2
Type: <class 'str'>
Converted Type: <class 'float'>

String3 - 17.01
Type: <class 'str'>
Converted Type: <class 'float'>

### Operators

In [65]:
def divide(numerator, denominator):
    '''
    Divides a Numerator by a Denominator; 0 Denominators will
    return as 0 
    '''
    
    # Check Denominator =/= 0
    if denominator == 0:
        return 0
    else:
        return numerator / denominator

In [66]:
num1 = 1701
num2 = 42
denom1 = 3.14
denom2 = 0

In [67]:
print(f'''
Numerator1: {num1}
Denominator1: {denom1}
Result: {divide(num1, denom1)}

Numerator2: {num2}
Denominator2: {denom2}
Result: {divide(num2, denom2)}

Numerator1: {num1}
Denominator2: {denom2}
Result: {divide(num1, denom2)}

Numerator2: {num2}
Denominator2: {denom1}
Result: {divide(num2, denom1)}
''')

Numerator1: 1701
Denominator1: 3.14
Result: 541.7197452229299

Numerator2: 42
Denominator2: 0
Result: 0

Numerator1: 1701
Denominator2: 0
Result: 0

Numerator2: 42
Denominator2: 3.14
Result: 13.375796178343949

In [68]:
def calc_larger_num(a, b):
    'Returns the larger of two numbers'
    
    if a > b:
        return a
    else:
        return b

In [69]:
num1 = 1701
num2 = 42
num3 = 3.14

In [70]:
print(f'''
Number1: {num1}
Number2: {num2}
Larger: {calc_larger_num(num1, num2)}

Number1: {num1}
Number3: {num3}
Larger: {calc_larger_num(num1, num3)}

Number2: {num2}
Number3: {num3}
Larger: {calc_larger_num(num2, num3)}
''')

Number1: 1701
Number2: 42
Larger: 1701

Number1: 1701
Number3: 3.14
Larger: 1701

Number2: 42
Number3: 3.14
Larger: 42

In [71]:
def lexigraphically_larger(a, b):
    'Returns the Larger of two Characters in  Lexographical Order'
    
    # Store Inputs in a List
    li = [a, b]
    # Sort
    li = sorted(li)
    
    return li[-1]

In [72]:
char1 = 'b'
char2 = 'd'
char3 = 'x'

In [73]:
print(f'''
Character1: {char1}
Character2: {char2}
Larger: {lexigraphically_larger(char1, char2)}

Character2: {char2}
Character3: {char3}
Larger: {lexigraphically_larger(char2, char3)}

Character1: {char1}
Character3: {char3}
Larger: {lexigraphically_larger(char1, char3)}
''')

Character1: b
Character2: d
Larger: d

Character2: d
Character3: x
Larger: x

Character1: b
Character3: x
Larger: x

In [74]:
def num_to_kw(n):
    'Analyzes Number Input and Returns Keyword'
    
    # Ensure Entry is float to account for string input decimals
    float(n)
    
    # If 0 Return None
    if n == 0:
        return 'none'
    # If n Rounds to 1, return One
    elif (n >= 0.5) and (n < 1.5):
        return 'one'
    # If n Rounds to 2, return Two
    elif (n >= 1.5) and (n < 2.5):
        return 'two'
    # All Else Return Some
    else:
        return 'some'

In [75]:
num1 = 0
num2 = .75
num3 = 1.75
num4 = 3.14

In [76]:
print(f'''
Number: {num1}
Result: {num_to_kw(num1)}

Number: {num2}
Result: {num_to_kw(num2)}

Number: {num3}
Result: {num_to_kw(num3)}

Number: {num4}
Result: {num_to_kw(num4)}
''')

Number: 0
Result: none

Number: 0.75
Result: one

Number: 1.75
Result: two

Number: 3.14
Result: some

In [77]:
def return_largest_3(a, b, c):
    'Return the Larger of 3 Numbers'
    
    # Save Inputs to List
    num_li = [a, b, c]
    # Sort
    num_li = sorted(num_li)
    
    return num_li[-1]

In [78]:
num1 = 3.14
num2 = 42
num3 = 1701

In [79]:
print(f'''
The Largest Number of {num2}, {num3}, and {num1} is: {return_largest_3(num1, num2, num3)}
''')

The Largest Number of 42, 1701, and 3.14 is: 1701

In [80]:
def return_largest_6(a, b, c, d, e, f):
    'Return the Larger of 6 Numbers'
    
    # Save Inputs to List
    num_li = [a, b, c, d, e, f]
    # Sort
    num_li = sorted(num_li)
    
    return num_li[-1]

In [81]:
num1 = 0
num2 = 3.14
num3 = 42
num4 = 217
num5 = 1433
num6 = 1701

In [82]:
print(f'''
Numers: {num2}, {num4}, {num5}, {num1}, {num3}, {num6}
Largest: {return_largest_6(num1, num2, num3, num4, num5, num6)}
''')

Numers: 3.14, 217, 1433, 0, 42, 1701
Largest: 1701

In [83]:
def eval_tests_3(a, b, c):
    '''
    Evalutes a Number with Three Tests and returns a 
    Pass(OK) or Fail(NOK) Result
    '''
    
    if (
        (a > b) and
        (b <= c) and
        (
            ((a * 3) > c) or
            (c <= a)
        )
    ):
        return "OK"
    else:
        return "NOK"

In [84]:
num1 = 42
num2 = 3.14
num3 = 1701
num4 = 130
num5 = -91
num6 = 215

In [85]:
print(f'''
Evalute: a = {num1}, b = {num2}, c = {num3}
Result: {eval_tests_3(num1, num2, num3)}

Evalute: a = {num4}, b = {num5}, c = {num6}
Result: {eval_tests_3(num4, num5, num6)}
''')

Evalute: a = 42, b = 3.14, c = 1701
Result: NOK

Evalute: a = 130, b = -91, c = 215
Result: OK

In [86]:
def od_protect(amount, balance):
    '''
    Evaluates Bank Balance to Determine if Withdrawals are Valid.
    If Valid: Returns New Balance
    If Not (Overdrafts): Returns -1
    '''
    
    # Run Transaction
    new_balance = balance - amount
    
    # Evaluate
    if new_balance < 0:
        return -1
    else:
        return new_balance

In [87]:
num1 = 42
num2 = 3.14
num3 = 1701

In [88]:
print(f'''
Transaction 1
-------------------------
Account Balance: {num1}
Withdrawal Amount: -{num2}
Current Balance: {od_protect(num1, num2)}
  If -1, Transaction Failed

Transaction 2
-------------------------
Account Balance: {num2}
Withdrawal Amount: -{num3}
Current Balance: {od_protect(num2, num3)}
  If -1, Transaction Failed

Transaction 3
-------------------------
Account Balance: {num3}
Withdrawal Amount: -{num1}
Current Balance: {od_protect(num3, num1)}
  If -1, Transaction Failed
''')

Transaction 1
-------------------------
Account Balance: 42
Withdrawal Amount: -3.14
Current Balance: -1
  If -1, Transaction Failed

Transaction 2
-------------------------
Account Balance: 3.14
Withdrawal Amount: -1701
Current Balance: 1697.86
  If -1, Transaction Failed

Transaction 3
-------------------------
Account Balance: 1701
Withdrawal Amount: -42
Current Balance: -1
  If -1, Transaction Failed

## Day 3

In [89]:
def factorial(n):
    '''
    Computes the Factorial is of the Absolute Value of an Integer
    '''
    
    num = abs(n)
    fact = 1
        
    if (num == 0) or (num == 1):
        fact = 1
    else:
        for i in range(2, int(num + 1)):
            fact *= i 
        
    return fact

In [90]:
num1 = 3.14
num2 = 42
num3 = 1701

In [91]:
print(f'''
The Factorial of {num1} is {factorial(num1)}.
The Factorial of {num2} is {factorial(num2)}.
The Factorial of {num3} is {factorial(num3)}.
''')

The Factorial of 3.14 is 6.
The Factorial of 42 is 1405006117752879898543142606244511569936384000000000.
The Factorial of 1701 is 5100198802654869179086624027745507495205141616734700802358003958599469552062774532400112810986339542987829574585586952412752662229913936856005150261207876974968392613013872390397111108225897608045787538112740556177599591297019995412019187092063396967620321073129322681945883817792633017668424240685201661215817985671857643796692243770110959603596284487475249289893020792271447939171164011600451235134769988723419047819700262428834329262919287060643869526986476402090917213792281954137503100442725673518498192040956767002134849203823145434191828223897681122341704440301281245784896666673332467685847552275233672700897793872508543991037940286618985931699450456361213443359450792348863871531139796304637077460526755809304264465787922384433164552300676396854447279772742890668198551599965915660243071356315501902882848952922036387796466323319705447499971017111477766572193415333982404464137752526666668547644666443128065627727117695546501586428076574330208192254908646153005458729692983015162632817826308500830252518256647893898911552573663457430266840097091623875985217837911219093951162697202454190689189771433069663889868271737877118355382202332302981877619625701757935844352555318900773409352508413165982848340096341807357349481334763857418401436796999702259188863191766583803118403006444484460820940450255280867353614355896430333469445261967372129455662470910001937158513714671319946733636811144753557662166584734642129876969435005976703081388846569625455736639320428092506969598302458927916720964240662608186245917160179518039777990170857220697435795661986407536353845877769388251880844295191608494849114375479481066852223591002381726395957496128675899214711464687693826702335949927148012753892582625806519190799277101418398102945869655800553112831128825535095291757116935068334158291601084051749571699970207808689233609550589963895415588946670448878742950432446105159034380067346713209966070910275110410658058042622088323795518024326563471236851525818334576484133534560794243136571533690129940332899430406484896724417181245723375128374648687703706490973255257416946947046241667407154527205494507975910041046205692661016503495682878351194481736689501116994438465604280052815954610129445029838078033205888373156396202707251416553977793195376621874748708315793920812459625131246269731162076180996764472460280551566283062234186253109315551235459989574672487154862148678656171658370627111747480215053070472269015001675205455848248780949307525095967470158671354727905323725284947228213860874472308954325021349920311588014495495397545503751053013036373682864446030019745002299309956694901133813864537153410555238072185901521270845814604145205927803127988382657741955916091851501070216919857921792189518274813475478264828597946844971013365320185004827980837845482573564550108861618616568350020443533529542867392085676204586219725411100865302773758919636143154527184254963575131606989298144576465915661677907061177068657285521439457850539739675446108714997455856973693032498081038780292177338732776860872536314031313292175434795973238507531107171900826280609535531884948467461595994458931163284094435361842166053563445865946396880769066580379452930834969557760104582345018532275761212835453069870465512040199234617255763405659341420573067715553792567736987566336904276962972843072581508285353014494303440466537510392253613970146561628801236410096702471365724200065942424091893051778465898503070420030950723307320722995192787786864054085401734087140629709560721048646143799486686066741238430682879289885909179843666360549708348788673189055535725156016118041034279584130131158992983305403846014536001734105346878183152892288984250341365488490323058028302033852417664843865338202127307427639256509678474169569581791139348139819597914161273819759708415033448915070052078588141414265368504431421008731844117858856420062803953863032187145488270821980785166878584437971446464939889352218410112517345206729022078952738326971078196999216053483382236540795998982307443877258151900390069184034271217020962191370722212975596473882777375822008062592311649855623990826006512465246634027744031073125733401174766709074432166231472241703170290813957539685217855171812054021313900733798537851359870464924414248558694124338709040639607786814833638099653468228644114906438820452887745253649415591404403586502793968869275458101659186693318392803550945685291401216000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000.

In [92]:
def prod_of_range(a, b):
    'Finds the products for all numbers from a to b, inclusive'
    
    # Determine which Number is Larger for the Min and Max Range
    if a > b:
        lg_num = a
        sm_num = b
    else:
        lg_num = b
        sm_num = a
            
    # Set the Stop Number for the Number Range
    stop_num = lg_num + 1
    
    # Store Range of Numbers in a List
    num_list = []
    for i in range(sm_num, stop_num):
        num_list.append(i)
    
    # Set Base Value to 1
    product = 1
    for num in num_list:
        product *= num
    
    return product

In [93]:
num1 = 3
num2 = 42

In [94]:
print(f'''
The product of all numbers between {num1} and {num2}, inclusively is 
{prod_of_range(num1, num2)}
''')

The product of all numbers between 3 and 42, inclusively is
702503058876439949271571303122255784968192000000000

In [95]:
def str_len(s):
    'Returns the Length of a String'
    
    return len(s)

In [96]:
string1 = 'tacocat'
string2 = 'Live long and prosper'

In [97]:
print(f'''
The length of "{string1}" is {str_len(string1)}.
The length of "{string2}" is {str_len(string2)}.
''')

The length of "tacocat" is 7.
The length of "Live long and prosper" is 21.

In [98]:
def char_at_idx(s, n):
    'Return the Character at a Given Index(n) in a String'
    
    # Check String is not Empty
    if len(s) < 1:
        return 'none'
    # Check N is not Greater than String Length
    elif (n >= len(s)) or (n < 0):
        return 'none'
    # Return Index
    else:
        return s[n]

In [99]:
string1 = 'tacocat'
string2 = 'Live long and prosper'
num1 = 42
num2 = 17

In [100]:
print(f'''
The letter at index {num1} in "{string1}" is "{char_at_idx(string1, num1)}".
The letter at index {num2} in "{string2}" is "{char_at_idx(string2, num2)}".
''')

The letter at index 42 in "tacocat" is "none".
The letter at index 17 in "Live long and prosper" is "s".

In [101]:
def upper_str(s):
    'Returns a Given String as Uppercase'
    
    return s.upper()

In [102]:
string1 = 'tacocat'
string2 = 'Live long and prosper'

In [103]:
print(f'''
Initial String: {string1}
Uppercase String: {upper_str(string1)}

Initial String: {string2}
Uppercase String: {upper_str(string2)}
''')

Initial String: tacocat
Uppercase String: TACOCAT

Initial String: Live long and prosper
Uppercase String: LIVE LONG AND PROSPER

In [104]:
def is_lower(s):
    'Returns True if String is Lower'
    
    if s == s.lower():
        return True
    else:
        return False

In [105]:
string1 = 'tacocat'
string2 = 'Live long and prosper'

In [106]:
print(f'''
Initial String: {string1}
String is Lowercase: {is_lower(string1)}

Initial String: {string2}
String is Lowercase: {is_lower(string2)}
''')

Initial String: tacocat
String is Lowercase: True

Initial String: Live long and prosper
String is Lowercase: False

In [107]:
def count_letter(s, letter):
    'Returns the Number of Occurrences of a Letter in a String'
    
    letter_list = []
    
    for char in s:
        if char == letter:
            letter_list.append(char)
            
    return len(letter_list)

In [108]:
string1 = 'tacocat'
string2 = 'Live long and prosper'

In [109]:
print(f'''
The letter "t" appears {count_letter(string1, 't')} times in {string1}.
The letter "t" appears {count_letter(string2, 't')} times in {string2}.
''')

The letter "t" appears 2 times in tacocat.
The letter "t" appears 0 times in Live long and prosper.

In [110]:
def count_digits(n):
    'Returns the Number of Digits in a Number'
    
    # Convert to String
    num_string = str(n)
    
    # Remove Non Numerics
    num_list = []
    
    for char in num_string:
        if char.isnumeric():
            num_list.append(char)
            
    return len(num_list)

In [111]:
num1 = 3.14
num2 = 42
num3 = -1701

In [112]:
print(f'''
The number of digits in {num1} is {count_digits(num1)}.
The number of digits in {num2} is {count_digits(num2)}.
The number of digits in {num3} is {count_digits(num3)}.
''')

The number of digits in 3.14 is 3.
The number of digits in 42 is 2.
The number of digits in -1701 is 4.

In [113]:
def find_last_idx(s):
    '''
    Returns the Index of the Last Character in a String.
    If empty string, returns -1.
    '''
    
    if len(s) == 0:
        return -1
    else:
        return (len(s)-1)

In [114]:
string1 = 'tacocat'
string2 = 'Live long and prosper'
string3 = ''

In [115]:
print(f'''
Index of the Last Chracter in Each String. If the String is Empty Index = -1.

{string1}: {find_last_idx(string1)}
{string2}: {find_last_idx(string2)}
{string3}: {find_last_idx(string3)}
''')

Index of the Last Chracter in Each String. If the String is Empty Index = -1.

tacocat: 6
Live long and prosper: 20
: -1

In [116]:
def last_idx_ele(s):
    'Returns the Final Element'
    
    if len(s) == 0:
        return 'none'
    else:
        return s[-1]

In [117]:
string1 = 'tacocat'
string2 = 'Live long and prosper'
string3 = ''

In [118]:
print(f'''
The Last Character in Each String is 

{string1}: {last_idx_ele(string1)}
{string2}: {last_idx_ele(string2)}
{string3}: {last_idx_ele(string3)}
''')

The Last Character in Each String is

tacocat: t
Live long and prosper: r
: none

In [119]:
def char1_is_char2(s):
    '''
    Returns True if the First & Second Characters in a String are     Equal
    '''
    
    # If String is Empty Return False
    if len(s) == 0:
        return False
    else:    
        # Find 1st and 2nd Chars
        char1 = s[0]
        char2 = s[1]
        # Check if Equal
        if char1 == char2:
            return True
        else:
            return False

In [120]:
string1 = 'tacocat'
string2 = 'aardvark'

In [121]:
print(f'''
The first two characters of {string1} are the same: {char1_is_char2(string1)}.
The first two characters of {string2} are the same: {char1_is_char2(string2)}.
''')

The first two characters of tacocat are the same: False.
The first two characters of aardvark are the same: True.

In [122]:
def char1_is_last_char(s):
    '''
    Returns True if the First & Last Characters in a String are
    Equal
    '''
    
    # If String is Empty Return False
    if len(s) == 0:
        return False
    else:    
        # Find 1st and Last Chars
        char1 = s[0]
        char_fin = s[-1]
        # Check if Equal
        if char1 == char_fin:
            return True
        else:
            return False

In [123]:
string1 = 'tacocat'
string2 = 'aardvark'

In [124]:
print(f'''
The first and last characters of {string1} are the same: {char1_is_last_char(string1)}.
The first and last characters of {string2} are the same: {char1_is_last_char(string2)}.
''')

The first and last characters of tacocat are the same: True.
The first and last characters of aardvark are the same: False.

In [125]:
def same_last_chars(s):
    '''
    Returns True if the Last 2 Characters in a String are Equal
    '''
    
    # If String is Empty Return False
    if len(s) == 0:
        return False
    else:    
        # Find 1st and 2nd Chars
        char_fin = s[-1]
        char_fin2 = s[-2]
        # Check if Equal
        if char_fin == char_fin2:
            return True
        else:
            return False

In [126]:
string1 = 'tacocat'
string2 = 'squeegee'

In [127]:
print(f'''
The last two characters of {string1} are the same: {same_last_chars(string1)}.
The last two characters of {string2} are the same: {same_last_chars(string2)}.
''')

The last two characters of tacocat are the same: False.
The last two characters of squeegee are the same: True.

In [128]:
def lower_str(s):
    'Returns a String as Lowercase'
    
    return s.lower()

In [129]:
string1 = 'TACOCAT'
string2 = 'Live long and prosper'

In [130]:
print(f'''
Initial String: {string1}
Lowercase String: {lower_str(string1)}

Initial String: {string2}
Lowercase String: {lower_str(string2)}
''')

Initial String: TACOCAT
Lowercase String: tacocat

Initial String: Live long and prosper
Lowercase String: live long and prosper

In [131]:
def is_upper(s):
    'Returns True if String is Uppercase'
    
    # Check for Empty String
    if len(s) <= 0:
        return False
    else:
        if s == s.upper():
            return True
        else:
            return False

In [132]:
string1 = 'TACOCAT'
string2 = 'Live long and prosper'

In [133]:
print(f'''
{string1} is uppercase: {is_upper(string1)}.
{string2} is uppercase: {is_upper(string3)}.
''')

TACOCAT is uppercase: True.
Live long and prosper is uppercase: False.

In [134]:
def starry_str(s):
    'Returns a String with an * on each side of each character'
    
    # List to Hold New Character Sets
    new_chars = []
    
    # Loop Through String to Add *'s
    for char in s:
        new_char = '*' + char + '*'
        new_chars.append(new_char)
    
    return ''.join(new_chars)

In [135]:
string1 = 'TACOCAT'
string2 = 'Live long and prosper'

In [136]:
print(f'''
Initial String: {string1}
Starry String: {starry_str(string1)}

Initial String: {string2}
Starry String: {starry_str(string2)}
''')

Initial String: TACOCAT
Starry String: *T**A**C**O**C**A**T*

Initial String: Live long and prosper
Starry String: *L**i**v**e** **l**o**n**g** **a**n**d** **p**r**o**s**p**e**r*

In [137]:
def star_str(s):
    '''
    Returns a String with a single * between each character
    and on the ends of the string without Built in Functions
    '''
    
    star_str = '*'
    
    # Loop Through String to Add *'s
    for char in s:
        star_str += f'{char}*'
    
    return star_str

In [138]:
string1 = 'TACOCAT'
string2 = 'Live long and prosper'

In [139]:
print(f'''
Initial String: {string1}
Star String: {star_str(string1)}

Initial String: {string2}
Star String: {star_str(string2)}
''')

Initial String: TACOCAT
Star String: *T*A*C*O*C*A*T*

Initial String: Live long and prosper
Star String: *L*i*v*e* *l*o*n*g* *a*n*d* *p*r*o*s*p*e*r*

In [140]:
def lrg_char(s):
    '''
    Returns the Largest Character in a String by Lexographical
    Order
    '''
    
    # Store Characters in a List
    char_list = []
    for char in s:
        char_list.append(char)
        
    # Sort
    char_list = sorted(char_list)
    
    return char_list[-1]

In [141]:
string1 = 'tacocat'
string2 = 'Live long and prosper'

In [142]:
print(f'''
The largest character in each word by lexographical order.

{string1}: {lrg_char(string1)}
{string2}: {lrg_char(string2)}
''')

The largest character in each word by lexographical order.

tacocat: t
Live long and prosper: v

In [143]:
def repeat_a(n):
    """
    Returns a String of n Number of Capital A's Using a 
    Required For Loop
    """
    
    # Create Base String
    a_string = ''
    
    # Create Stop Number for Range
    stop_num = n + 1
    
    for i in range(1, stop_num):
        a_string += 'A'
    
    return a_string

In [144]:
num1 = 3
num2 = 42
num3 = 1701

In [145]:
print(f'''
A repeated {num1} times: {repeat_a(num1)}
A repeated {num2} times: {repeat_a(num2)}
A repeated {num3} times: {repeat_a(num3)}
''')

A repeated 3 times: AAA
A repeated 42 times: AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
A repeated 1701 times: AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA