<a href="https://colab.research.google.com/github/CelinaWalkowicz/Coding_Challenges/blob/main/Code_Signal_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Arcade Universe

## Sum of Two Numbers

In [1]:
def sum2(num1, num2):
  'Returns the Sum of Two Numbers'

  return num1 + num2

In [2]:
sum2(2, 3)

5

## Determine the Century for Each Year

A Century is defined as year 1 - 100
Examples: 
1st Century is from 1 - 100
17th Century is from 1701 - 1800
20th Century is from 1901 - 2000

In [3]:
def calc_century(year):
    '''
    This function takes a year, and returns the century it is in.
    '''
    
    # Ensure year is int
    int(year)
    # Change year to string for indexing
    yr = str(year)

    # Index yr into parts to determine cdef solution(year):
    '''
    This function takes a year, and returns the century it is in.
    '''
    
    # Ensure year is int
    int(year)
    # Change year to string for indexing
    yr = str(year)

    # Ensure all years are YYYY format
    # Find first century years
    if year <= 1000:
      # years less than 100 will need a 00
      if year < 100:
        yr_pt1 = '00'
        yr_pt2 = str(year)
        yr = yr_pt1 + yr_pt2
      else:
        yr_pt1 = '0'
        yr_pt2 = str(year)
        yr = yr_pt1 + yr_pt2
    
    # Save first 2 numbs to determine century
    yr_idx1 = int(yr[:2])
    # Save last 2 nums to check year range to check years are in century range
    yr_idx2 = int(yr[2:4])
    
    # Check century range xx01-xx99
    if yr_idx2 >= 1:
        # Add 1 to find the century
        century = yr_idx1 + 1
    # Check century range xx00
    elif yr_idx2 == 0:
        century = yr_idx1
      
    return century

In [4]:
print(f'''
The year 42 is in century {calc_century(42)}.
The year 100 is in century {calc_century(100)}.
The year 1000 is in century {calc_century(1000)}.
The year 1500 is in century {calc_century(1500)}.
The year 1701 is in century {calc_century(1701)}.
The year 1994 is in century {calc_century(1994)}.
The year 2022 is in century {calc_century(2022)}.
''')

The year 42 is in century 1.
The year 100 is in century 1.
The year 1000 is in century 1.
The year 1500 is in century 15.
The year 1701 is in century 18.
The year 1994 is in century 20.
The year 2022 is in century 21.

## Determine if a Given Input is a Palindrome

In [5]:
def is_palindrome(given_input):
    '''
    Takes an input and checks if it is a palindrome
    '''
    
    # Ensure Input is String
    fwd_string = str(given_input).lower()

    # Reverse String
    retro_string = fwd_string[::-1]

    # Check if strings are equal
    if fwd_string == retro_string:
      return True
    else:
      return False

In [6]:
print(f'''
Tacocat is a palindrome: {is_palindrome('tacocat')}.
Tacocorgi is a palindrome: {is_palindrome('tacocorgi')}.
1111 is a palindrome: {is_palindrome(1111)}.
1701 is a palindrome: {is_palindrome(1701)}.
''')

Tacocat is a palindrome: True.
Tacocorgi is a palindrome: False.
1111 is a palindrome: True.
1701 is a palindrome: False.

## Find the Largest Product of Adjacent Pairs in a List

In [7]:
def adjacent_products(input_list):
    '''
    Finds the product of the the pair of adjacent elements within a list
    and returns the largest product
    '''
    
    # Create Product List
    product_list = []

    # Create Stop Number for List without last number
    stop_num = len(input_list) - 1
    
    # Loop through array, and multiply each number by the next number, 
    # and save the value to product list
    for idx in range(0, stop_num):
      # Find Index Values of Numbers to Multiply
      product_list.append(input_list[idx] * input_list[idx+1])

    # Sort List Descending to find largest value
    product_list.sort(reverse=True)
    
    return product_list[0]

In [8]:
inputArray1 = [3, 6, -2, -5, 7, 3]
inputArray2 = [2, 1, 3, 1, 2, 5]

In [9]:
print(f'''
-------------------------------------
Largest Products from Adjacent Values
-------------------------------------

inputArray1: {adjacent_products(inputArray1)}
inputArray2: {adjacent_products(inputArray2)}
''')

-------------------------------------
Largest Products from Adjacent Values
-------------------------------------

inputArray1: 21
inputArray2: 10

## Find the Missing Values in a Sequential Array

Ratiorg got statues of different sizes as a present from CodeMaster for his birthday, each statue having an non-negative integer size. Since he likes to make things perfect, he wants to arrange them from smallest to largest so that each statue will be bigger than the previous one exactly by 1. He may need some additional statues to be able to accomplish that. Help him figure out the minimum number of additional statues needed.

In [10]:
def missing_sequentials(inputArray):
    'Returns Number of Missing Sequential Values from an Array'
    
    # Sort Statues in Order Ascencing
    inputArray.sort()
    # Find Min and Max Values
    min_num = inputArray[0]
    max_num = inputArray[-1]
    
    # Create Range between Min and Max Values as List
    # Find Stop Number for inclusive Max Value
    stop_num = max_num + 1
    sequential_array = list(range(min_num, stop_num))
    
    # Find Lengths of Both Lists
    input_length = len(inputArray)
    complete_length = len(sequential_array)
    
    # Return Difference to Determine Number of Missing Statues
    return complete_length - input_length

In [11]:
inputArray = [6, 2, 3, 8]

In [12]:
missing_sequentials(inputArray)

3

## Determine if a Sequence will be Strictly Increasing if *ONLY* One Value is Removed.

In [13]:
def solution(sequence):
    '''
    Returns if a list is strictly increasingly if one or less numbers 
    needs to be removed
    '''

    # Set Failure Count = 0 
    fc1 = 0
    fc2 = 0
    
    # Verify Each Value is NOT Greater than the Following 2 Values

    # Following 1
    for i in range(len(sequence)-1):
            if sequence[i] >= sequence[i+1]:
                fc1 = fc1 + 1

    # Following 2 
    for i in range(len(sequence)-2):
            if sequence[i] >= sequence[i+2]:
                fc2 = fc2 + 1

    # Verify Counts Do NOT Exceed 1 
    if (fc1 < 2) and (fc2 < 2):                
        return True
    else:
        return False

In [14]:
sequence1 = [1, 2, 3, 4, 99, 5, 6]
sequence2 = [3, 5, 67, 98, 3]
sequence3 = [10, 1, 2, 3, 4, 5, 6, 1]
sequence4 = [1, 2, 1, 2]
sequence5 = [0, -2, 5, 6]

In [15]:
print(f'''
-------------------------------------------------
Strictly Increasing Sequences with ONLY 1 removal
-------------------------------------------------

Sequence 1: {solution(sequence1)}
{sequence1}

Sequence 2: {solution(sequence2)}
{sequence2}

Sequence 3: {solution(sequence3)}
{sequence3}

Sequence 4: {solution(sequence4)}
{sequence4}

Sequence 5: {solution(sequence5)}
{sequence5}
''')

-------------------------------------------------
Strictly Increasing Sequences with ONLY 1 removal
-------------------------------------------------

Sequence 1: True
[1, 2, 3, 4, 99, 5, 6]

Sequence 2: True
[3, 5, 67, 98, 3]

Sequence 3: False
[10, 1, 2, 3, 4, 5, 6, 1]

Sequence 4: False
[1, 2, 1, 2]

Sequence 5: True
[0, -2, 5, 6]

## Find ALL Zero Values, and Values "Below" Zero Values in a Given Matrix

After becoming famous, the CodeBots decided to move into a new building together. Each of the rooms has a different cost, and some of them are free, but there's a rumour that all the free rooms are haunted! Since the CodeBots are quite superstitious, they refuse to stay in any of the free rooms, or any of the rooms below any of the free rooms.

In [16]:
def solution(matrix):
  '''
  Returns the Count of All Values which do NOT Equal 0, and are NOT located
  "Below" a Zero Value.
  '''

  # Imports 
  import numpy as np

  # Set Haunted Rooms Equal to 0
  haunted = 0

  # Find Indices of Haunted Rooms
  return np.where(matrix==5)

In [17]:
matrix = [[0, 1, 1, 2], 
          [0, 5, 0, 0], 
          [2, 0, 3, 3]]

In [18]:
matrix

[[0, 1, 1, 2], [0, 5, 0, 0], [2, 0, 3, 3]]

In [19]:
solution(matrix)

(array([], dtype=int64),)

# BloomTech Code Signal

## Day 2

### Convertind Class Types: Strings, Floats, and Ints

In [20]:
def str_to_int(s):
    'Returns a String as Int'
    
    return int(s)

In [21]:
string1 = '1'
string2 = '42'
string3 = '1701'

In [22]:
print(f'''
String1 - {string1}
Type: {type(string1)}
Converted Type: {type(str_to_int(string1))}

String2 - {string2}
Type: {type(string2)}
Converted Type: {type(str_to_int(string2))}

String3 - {string3}
Type: {type(string3)}
Converted Type: {type(str_to_int(string3))}
''')

String1 - 1
Type: <class 'str'>
Converted Type: <class 'int'>

String2 - 42
Type: <class 'str'>
Converted Type: <class 'int'>

String3 - 1701
Type: <class 'str'>
Converted Type: <class 'int'>

In [23]:
def float_to_str(f):
    'Takes a float, and returns a string'
    
    return str(f)

In [24]:
float1 = 1.34
float2 = 4.2
float3 = 17.01

In [25]:
print(f'''
Float1 - {float1}
Type: {type(float1)}
Converted Type: {type(float_to_str(float1))}

Float2 - {float2}
Type: {type(float2)}
Converted Type: {type(float_to_str(float2))}

Float3 - {float3}
Type: {type(float3)}
Converted Type: {type(float_to_str(float3))}
''')

Float1 - 1.34
Type: <class 'float'>
Converted Type: <class 'str'>

Float2 - 4.2
Type: <class 'float'>
Converted Type: <class 'str'>

Float3 - 17.01
Type: <class 'float'>
Converted Type: <class 'str'>

In [26]:
def int_to_float(i):
    'Takes an Int and Converts to Float'
    
    return float(i)

In [27]:
int1 = 1
int2 = 42
int3 = 1701

In [28]:
print(f'''
Int1 - {int1}
Type: {type(int1)}
Converted Type: {type(int_to_float(int1))}

Int2 - {int2}
Type: {type(int2)}
Converted Type: {type(int_to_float(int2))}

Int1 - {int2}
Type: {type(int2)}
Converted Type: {type(int_to_float(int2))}
''')

Int1 - 1
Type: <class 'int'>
Converted Type: <class 'float'>

Int2 - 42
Type: <class 'int'>
Converted Type: <class 'float'>

Int1 - 42
Type: <class 'int'>
Converted Type: <class 'float'>

In [29]:
def rounded_float_to_str(f, places):
    '''
    Takes a Float, Rounds, and Converts to String
    '''
    
    format_key = f'.{places}f'
    rounded = format(f, format_key)

    return rounded

In [30]:
float1 = 1.3400
float2 = 4.200
float3 = 17.01000

In [31]:
print(f'''
Float1 - {float1}
Type: {type(float1)}
Rounded: {rounded_float_to_str(float1, 3)}
Converted Type: {type(rounded_float_to_str(float1, 3))}

Float2 - {float2}
Type: {type(float2)}
Rounded: {rounded_float_to_str(float2, 2)}
Converted Type: {type(rounded_float_to_str(float2, 2))}

Float3 - {float3}
Type: {type(float3)}
Rounded: {rounded_float_to_str(float3, 4)}
Converted Type: {type(rounded_float_to_str(float3, 4))}
''')

Float1 - 1.34
Type: <class 'float'>
Rounded: 1.340
Converted Type: <class 'str'>

Float2 - 4.2
Type: <class 'float'>
Rounded: 4.20
Converted Type: <class 'str'>

Float3 - 17.01
Type: <class 'float'>
Rounded: 17.0100
Converted Type: <class 'str'>

In [32]:
def abs_val(x):
    'Returns the absolute value of a number'
    
    return abs(x)

In [33]:
num1 = -3.14
num2 = 42
num3 = 1701
num4 = -1701

In [34]:
print(f'''
Number1: {num1}
Absolute Value: {abs_val(num1)}
Number2: {num2}
Absolute Value: {abs_val(num2)}
Number3: {num3}
Absolute Value: {abs_val(num3)}
Number4: {num4}
Absolute Value: {abs_val(num4)}
''')

Number1: -3.14
Absolute Value: 3.14
Number2: 42
Absolute Value: 42
Number3: 1701
Absolute Value: 1701
Number4: -1701
Absolute Value: 1701

In [35]:
def is_btwn(n):
    'Determines if a Number is between 2 and 7, exclusive'
    
    if (n > 2) and (n < 7):
        return True
    else:
        return False

In [36]:
num1 = 3.14
num2 = 42
num3 = 1701

In [37]:
print(f'''
Number1: {num1}
Between 2 and 7? {is_btwn(num1)}
Number2: {num2}
Between 2 and 7? {is_btwn(num2)}
Number3: {num3}
Between 2 and 7? {is_btwn(num3)}
''')

Number1: 3.14
Between 2 and 7? True
Number2: 42
Between 2 and 7? False
Number3: 1701
Between 2 and 7? False

In [38]:
def int_to_str(i):
    'Returns an Integer as a String'
    
    return str(i)

In [39]:
int1 = 1
int2 = 42
int3 = 1701

In [40]:
print(f'''
Int1 - {int1}
Type: {type(int1)}
Converted Type: {type(int_to_str(int1))}

Int2 - {int2}
Type: {type(int2)}
Converted Type: {type(int_to_str(int2))}

Int3 - {int3}
Type: {type(int3)}
Converted Type: {type(int_to_str(int3))}
''')

Int1 - 1
Type: <class 'int'>
Converted Type: <class 'str'>

Int2 - 42
Type: <class 'int'>
Converted Type: <class 'str'>

Int3 - 1701
Type: <class 'int'>
Converted Type: <class 'str'>

In [41]:
def float_to_int(f):
    'Takes a Float and Returns an Int'
    
    return int(f)

In [42]:
float1 = 1.34
float2 = 4.2
float3 = 17.01

In [43]:
print(f'''
Float1 - {float1}
Type: {type(float1)}
Converted Type: {type(float_to_int(float1))}

Float2 - {float2}
Type: {type(float2)}
Converted Type: {type(float_to_int(float2))}

Float3 - {float3}
Type: {type(float3)}
Converted Type: {type(float_to_int(float3))}
''')

Float1 - 1.34
Type: <class 'float'>
Converted Type: <class 'int'>

Float2 - 4.2
Type: <class 'float'>
Converted Type: <class 'int'>

Float3 - 17.01
Type: <class 'float'>
Converted Type: <class 'int'>

In [44]:
def str_to_float(s):
    'Takes a String, and Returns a Float'
    
    return float(s)

In [45]:
string1 = '1.34'
string2 = '4.2'
string3 = '17.01'

In [46]:
print(f'''
String1 - {string1}
Type: {type(string1)}
Converted Type: {type(str_to_float(string1))}

String2 - {string2}
Type: {type(string2)}
Converted Type: {type(str_to_float(string2))}

String3 - {string3}
Type: {type(string3)}
Converted Type: {type(str_to_float(string3))}
''')

String1 - 1.34
Type: <class 'str'>
Converted Type: <class 'float'>

String2 - 4.2
Type: <class 'str'>
Converted Type: <class 'float'>

String3 - 17.01
Type: <class 'str'>
Converted Type: <class 'float'>

### Operators

In [47]:
def divide(numerator, denominator):
    '''
    Divides a Numerator by a Denominator; 0 Denominators will
    return as 0 
    '''
    
    # Check Denominator =/= 0
    if denominator == 0:
        return 0
    else:
        return numerator / denominator

In [48]:
num1 = 1701
num2 = 42
denom1 = 3.14
denom2 = 0

In [49]:
print(f'''
Numerator1: {num1}
Denominator1: {denom1}
Result: {divide(num1, denom1)}

Numerator2: {num2}
Denominator2: {denom2}
Result: {divide(num2, denom2)}

Numerator1: {num1}
Denominator2: {denom2}
Result: {divide(num1, denom2)}

Numerator2: {num2}
Denominator2: {denom1}
Result: {divide(num2, denom1)}
''')

Numerator1: 1701
Denominator1: 3.14
Result: 541.7197452229299

Numerator2: 42
Denominator2: 0
Result: 0

Numerator1: 1701
Denominator2: 0
Result: 0

Numerator2: 42
Denominator2: 3.14
Result: 13.375796178343949

In [50]:
def calc_larger_num(a, b):
    'Returns the larger of two numbers'
    
    if a > b:
        return a
    else:
        return b

In [51]:
num1 = 1701
num2 = 42
num3 = 3.14

In [52]:
print(f'''
Number1: {num1}
Number2: {num2}
Larger: {calc_larger_num(num1, num2)}

Number1: {num1}
Number3: {num3}
Larger: {calc_larger_num(num1, num3)}

Number2: {num2}
Number3: {num3}
Larger: {calc_larger_num(num2, num3)}
''')

Number1: 1701
Number2: 42
Larger: 1701

Number1: 1701
Number3: 3.14
Larger: 1701

Number2: 42
Number3: 3.14
Larger: 42

In [53]:
def lexigraphically_larger(a, b):
    'Returns the Larger of two Characters in  Lexographical Order'
    
    # Store Inputs in a List
    li = [a, b]
    # Sort
    li = sorted(li)
    
    return li[-1]

In [54]:
char1 = 'b'
char2 = 'd'
char3 = 'x'

In [55]:
print(f'''
Character1: {char1}
Character2: {char2}
Larger: {lexigraphically_larger(char1, char2)}

Character2: {char2}
Character3: {char3}
Larger: {lexigraphically_larger(char2, char3)}

Character1: {char1}
Character3: {char3}
Larger: {lexigraphically_larger(char1, char3)}
''')

Character1: b
Character2: d
Larger: d

Character2: d
Character3: x
Larger: x

Character1: b
Character3: x
Larger: x

In [56]:
def num_to_kw(n):
    'Analyzes Number Input and Returns Keyword'
    
    # Ensure Entry is float to account for string input decimals
    float(n)
    
    # If 0 Return None
    if n == 0:
        return 'none'
    # If n Rounds to 1, return One
    elif (n >= 0.5) and (n < 1.5):
        return 'one'
    # If n Rounds to 2, return Two
    elif (n >= 1.5) and (n < 2.5):
        return 'two'
    # All Else Return Some
    else:
        return 'some'

In [57]:
num1 = 0
num2 = .75
num3 = 1.75
num4 = 3.14

In [58]:
print(f'''
Number: {num1}
Result: {num_to_kw(num1)}

Number: {num2}
Result: {num_to_kw(num2)}

Number: {num3}
Result: {num_to_kw(num3)}

Number: {num4}
Result: {num_to_kw(num4)}
''')

Number: 0
Result: none

Number: 0.75
Result: one

Number: 1.75
Result: two

Number: 3.14
Result: some

In [59]:
def return_largest_3(a, b, c):
    'Return the Larger of 3 Numbers'
    
    # Save Inputs to List
    num_li = [a, b, c]
    # Sort
    num_li = sorted(num_li)
    
    return num_li[-1]

In [60]:
num1 = 3.14
num2 = 42
num3 = 1701

In [61]:
print(f'''
The Largest Number of {num2}, {num3}, and {num1} is: {return_largest_3(num1, num2, num3)}
''')

The Largest Number of 42, 1701, and 3.14 is: 1701

In [62]:
def return_largest_6(a, b, c, d, e, f):
    'Return the Larger of 6 Numbers'
    
    # Save Inputs to List
    num_li = [a, b, c, d, e, f]
    # Sort
    num_li = sorted(num_li)
    
    return num_li[-1]

In [63]:
num1 = 0
num2 = 3.14
num3 = 42
num4 = 217
num5 = 1433
num6 = 1701

In [64]:
print(f'''
Numers: {num2}, {num4}, {num5}, {num1}, {num3}, {num6}
Largest: {return_largest_6(num1, num2, num3, num4, num5, num6)}
''')

Numers: 3.14, 217, 1433, 0, 42, 1701
Largest: 1701

In [65]:
def eval_tests_3(a, b, c):
    '''
    Evalutes a Number with Three Tests and returns a 
    Pass(OK) or Fail(NOK) Result
    '''
    
    if (
        (a > b) and
        (b <= c) and
        (
            ((a * 3) > c) or
            (c <= a)
        )
    ):
        return "OK"
    else:
        return "NOK"

In [66]:
num1 = 42
num2 = 3.14
num3 = 1701
num4 = 130
num5 = -91
num6 = 215

In [67]:
print(f'''
Evalute: a = {num1}, b = {num2}, c = {num3}
Result: {eval_tests_3(num1, num2, num3)}

Evalute: a = {num4}, b = {num5}, c = {num6}
Result: {eval_tests_3(num4, num5, num6)}
''')

Evalute: a = 42, b = 3.14, c = 1701
Result: NOK

Evalute: a = 130, b = -91, c = 215
Result: OK

In [68]:
def od_protect(amount, balance):
    '''
    Evaluates Bank Balance to Determine if Withdrawals are Valid.
    If Valid: Returns New Balance
    If Not (Overdrafts): Returns -1
    '''
    
    # Run Transaction
    new_balance = balance - amount
    
    # Evaluate
    if new_balance < 0:
        return -1
    else:
        return new_balance

In [69]:
num1 = 42
num2 = 3.14
num3 = 1701

In [70]:
print(f'''
Transaction 1
-------------------------
Account Balance: {num1}
Withdrawal Amount: -{num2}
Current Balance: {od_protect(num1, num2)}
  If -1, Transaction Failed

Transaction 2
-------------------------
Account Balance: {num2}
Withdrawal Amount: -{num3}
Current Balance: {od_protect(num2, num3)}
  If -1, Transaction Failed

Transaction 3
-------------------------
Account Balance: {num3}
Withdrawal Amount: -{num1}
Current Balance: {od_protect(num3, num1)}
  If -1, Transaction Failed
''')

Transaction 1
-------------------------
Account Balance: 42
Withdrawal Amount: -3.14
Current Balance: -1
  If -1, Transaction Failed

Transaction 2
-------------------------
Account Balance: 3.14
Withdrawal Amount: -1701
Current Balance: 1697.86
  If -1, Transaction Failed

Transaction 3
-------------------------
Account Balance: 1701
Withdrawal Amount: -42
Current Balance: -1
  If -1, Transaction Failed

## Day 3